<div id='map' style='width: auto; height: 500px;'></div>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css'
    type='text/css' />
<script>
    mapboxgl.accessToken = <%- `"${mapBoxAccessToken}"` %>
    let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= (locals.centerLong) ? centerLong : 106.84513 %>, <%= (locals.centerLat) ? centerLat : -6.21462 %>],
        zoom: 11,
    });
    map.addControl(new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        getItemValue(carmenGeoJSON){
            const coordinate = document.getElementById('form-coordinate')
            const location = document.getElementById('form-location')

            const [longitude, latitude] = carmenGeoJSON.geometry.coordinates
            location.value = carmenGeoJSON.place_name
            coordinate.value = `${longitude},${latitude}`
            return carmenGeoJSON.place_name
        }
    }))


    <% if (locals.mapValues) mapValues.forEach(val => { 
        let {color = '#3FB1CE', long, lat, location} = val
        %>

        let coord = ['<%= long %>', '<%= lat %>']
        var popup = new mapboxgl.Popup()
            .setLngLat(coord)
            .setText(location)
            .addTo(map)
        
        new mapboxgl.Marker({ color: '<%= color %>'})
                .setLngLat(coord)
                .setPopup(popup)
                .addTo(map);
    <% }) %>
</script>