<!DOCTYPE html>
<html lang="en">

<%- include('./components/header', {title: "Register User"}) %>

<body>
  <%- include('./components/navbar') %>
  <%- include('./components/error') %>
  <%- include('./components/message') %>
  <div class="konteiner">
    <div class="cardHeader">
      <h5 id="headerTerdekat">Terdekat ></h5>
      <% if (user !== null) { %>
      <form action="/reports/addReport" method="GET">
        <button type="submit" class="addLaporan btn btn-danger">Tambah Laporan</button>
      </form>
      <% } %>
    </div>
      <div id="listreport-abcd" class="terdekat"></div>
      <% if (results.length === 0) { %>
        <div >
          Tidak ada data
        </div>
      <% } %>  
  </div>
  <%- include('components/cardGenerator') %>
  <script>
    let listReport = document.getElementById('listreport-abcd')
    let results = <%- JSON.stringify(results) %>
      <% results.forEach((report, i) => {%>
        createCard(listReport, <%= i %>, <%- JSON.stringify(report) %>)
      <% }) %>
  </script>
</body>

</html>
