<!DOCTYPE html>
<html lang="en">

<%- include('./components/header', {title: "Register User"}) %>

<body>
  <%- include('./components/navbar') %>
  <%- include('./components/error') %>
  <%- include('./components/message') %>
  <div class="konteiner">
    <div class="cardHeader">
      <h5 id="headerTerdekat">Terdekat ></h5>
      <% if (user !== null) { %>
      <form action="/reports/addReport" method="GET">
        <button type="submit" class="addLaporan btn btn-danger">Tambah Laporan</button>
      </form>
      <% } %>
    </div>
      <div id="listreport-abcd" class="terdekat"></div>
      <% if (results.length === 0) { %>
        <div >
          Tidak ada data
        </div>
      <% } %>  
  </div>
  <%- include('components/cardGenerator') %>
  <script>
    let results = <%- JSON.stringify(results) %>
    function hitungjarak(lat1, lon1, lat2, lon2) {  // generally used geo measurement function
      var R = 6378.137; // Radius of earth in KM
      var dLat = lat2 * Math.PI / 180 - lat1 * Math.PI / 180;
      var dLon = lon2 * Math.PI / 180 - lon1 * Math.PI / 180;
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
        Math.sin(dLon / 2) * Math.sin(dLon / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d * 1000; // meters
    }

    function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(sort);
        } else {
          alert("Geolocation is not supported by this browser.")
        }
      }

    function sort(position) {
      let longitude = position.coords.longitude
      let latitude = position.coords.latitude

      console.log({longitude, latitude})

      let newRes = results.map(rep => {
        let coord = rep.koordinat.split(',')
        let distance = hitungjarak(coord[1], coord[0], latitude, longitude)
        rep.distance = distance
        rep.lokasi += '<br> Jarak: '+Math.floor(distance)+' M'
        return rep
      })
      newRes.sort((a, b) => (a.distance > b.distance) ? 1 : -1)
      let listReport = document.getElementById('listreport-abcd')
      newRes.forEach((report, i) => {
        createCard(listReport, i, report)
      })

    }  

    getLocation()


    
  </script>
</body>

</html>
