<!DOCTYPE html>
<html lang="en">

<%- include('../components/header', {title: "Register User"}) %>

<body>
  <%- include('../components/navbar') %>
  <%- include('../components/error') %>
  <%- include('../components/message') %>
  <h1 id="reportListHeader">Daftar Laporan</h1>
  <div id="listreport-abcd"></div>
  
  <% if (results.length === 0) { %>
    <div>
      Tidak ada data
    </div>
  <% } %>

  <%- include('../components/cardGenerator') %>
  <script>
    let listReport = document.getElementById('listreport-abcd')
      <% results.forEach((report, i) => {%>
        createCard(listReport, <%= i %>, <%- JSON.stringify(report) %>)
      <% }) %>
  </script>
  <%- include('../components/script') %>
</body>

</html>
