<!DOCTYPE html>
<html lang="en">

<%- include('../components/header', {title: "Register User"}) %>

<body>
  <%- include('../components/navbar') %>
  <%- include('../components/error') %>
  <%- include('../components/message') %>
  <h1 id="reportListHeader">Daftar Laporan</h1>
  <%for (const report of results) {%>
  <div class="card customCard reportCard">
    <div class="fotoLokasi">
    </div>
    <div class="card-body">
      <h5 class="card-title"><a href="/reports/<%= report.id%>/edit">Lokasi: <%= report.Location.nama %></a></h5>
      <p class="card-text card-text">Deskripsi: <%= report.deskripsi%></p>
      <form action="/reports/<%= report.id%>/delete" method="POST">
        <button type="submit" class="deleteLaporan btn btn-danger">Hapus Laporan</button>
      </form>
    </div>
  </div>
  <%}%>
  <%- include('../components/script') %>
</body>

</html>
